backend:
  name: github
  repo: me/test
  branch: master

media_folder: "static/uploads"

collections:
  - name: "pages"
    label: "Page"
    folder: "content/pages"
    slug: "{{slug}}"
    create: true
    fields: # The fields each document in this collection have
      - {label: "Title", name: "title", widget: "string", tagname: "h1"}
      - {label: "Body", name: "body", widget: "markdown"}
    meta:
      - {label: "SEO Description", name: "description", widget: "text"}
